<nav class="nav-extended">

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper black">
    <div class="categories-container">
      <ul class="categories container">
        <li class="active"><a href="#all">All</a></li>
        <li><a class="waves-effect waves-purple accent-3" id="royal-view" href="#royal">Royal</a></li>
        <li><a class="waves-effect waves-teal" id="authority-view" href="#authority">Authority</a></li>
        <li><a class="waves-effect waves-red" id="military-view" href="#military">Military</a></li>
        <li><a class="waves-effect waves-light" id="nobility-view" href="#nobility">Nobility</a></li>
        <li><a class="waves-effect waves-yellow" id="clergy-view" href="#clergy">Clergy</a></li>
        <li><a class="waves-effect waves-orange" id="merchant-view" href="#merchant">Merchant</a></li>
        <li><a class="waves-effect waves-green" id="peasantry-view" href="#peasantry">Peasantry</a></li>
      </ul>
    </div>
  </div>
</nav>

{{!-- ========================= Slidenav ================================================== --}}

<ul id="slide-out" class="side-nav fixed">
    <a href="/all" class="brand-logo"><i class="fab fa-fort-awesome-alt" style="font-size: 155px"></i></a>
    <h3 class="app-name" style="text-align: center;">Medieval Avatars</h3>
    
    <li><a href="/create" class="w3-bar-item w3-button" id="nav-create-btn" style="text-align: center;">Create</a></li>
    <li><a href="/all" class="w3-bar-item w3-button" id="nav-view-all-btn" style="text-align: center;">View All</a></li>
    <li><a href="/all/id" class="w3-bar-item w3-button" id="nav-view-btn" style="text-align: center;">View Own</a></li>
</ul>


  {{!-- <div class="row">
    <div class="col s12 m10 offset-l1">
      <div class="card darken-1">
        <div class="card-content ">
          <p>This position, also occasionally named alchemist, works with various herbs, spices and concoctions to devise remedies and toxins of all varying sorts. It calls upon a strong understanding of nature, health and different aspects of both plants and human bodies. They typically work alongside hunters and merchants to collect materials and sell their product but on occasion they will also act independently and even travel to distant lands in order to expand their knowledge and collection of samples. Unfortunately, in many instances, this position holds a negative connotation for being swindlers, passing potions and charms under false, or otherwise impossible, claims for the sake of profit. However, in other instances they have been seen as healers of the sick and wounded. In either form, it is a role of great risk but also great reward.</p>
        </div>
      </div>
    </div>
  </div> --}}

  {{!-- <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>

  <div class="tap-target" data-target="menu">
    <div class="tap-target-content">
      <h5>Title</h5>
      <p>A bunch of text</p>
    </div>
  </div> --}}
      




<div id="portfolio" class="section gray">
  <div class="container">
    <div class="gallery row" id="galleryDiv">
  {{#each avatars}}
      <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{AvatarClasses.socialClass}}" data-class="{{AvatarClasses.socialClass}}">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">
      
            <img class="responsive-img imgDiv" src="{{AvatarClasses.img}}" alt="placeholder">
          </a>
          <div class="gallery-header">
            <span>{{AvatarClasses.career}}</span>
          </div>
          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>{{AvatarClasses.career}}</h3>
            </div>
            <p class="description">
             <p> Name: {{name}}</p>
             <p> Age: {{age}}</p>
             <p> Backstory: {{backstory}}</p>
             <p> Personality: {{personality}}</p>
             <p> Details: {{details}}</p>
            </p>
          </div>
          <div class="gallery-action">
            <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">favorite</i></a>
          </div>
        </div>
      </div>
  {{/each}}

    </div>
  </div>
</div><!-- /.container -->