<nav class="nav-extended">

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper black">
    <div class="categories-container">
      <ul class="categories container">
        <li class="active"><a class="waves-effect waves-light" id="all-view" href="#all">All <i class="fas fa-chess"></i></a></li>
        <li><a class="waves-effect waves-purple accent-3" id="royal-view" href="#royal">Royal <i class="fas fa-chess-king"></i></a></li>
        <li><a class="waves-effect waves-teal" id="authority-view" href="#authority">Authority <i class="fas fa-chess-rook"></i></a></li>
        <li><a class="waves-effect waves-red" id="military-view" href="#military">Military <i class="fas fa-chess-knight"></i></a></li>
        <li><a class="waves-effect waves-light" id="nobility-view" href="#nobility">Nobility <i class="fas fa-chess-queen"></i></a></li>
        <li><a class="waves-effect waves-yellow" id="clergy-view" href="#clergy">Clergy <i class="fas fa-chess-bishop"></i></a></li>
        <li><a class="waves-effect waves-orange" id="merchant-view" href="#merchant">Merchant <i class="fas fa-chess-rook"></i></a></li>
        <li><a class="waves-effect waves-green" id="peasantry-view" href="#peasantry">Peasantry <i class="fas fa-chess-pawn"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

{{!-- ========================= Slidenav ================================================== --}}

<ul id="slide-out" class="side-nav fixed">
    <a href="/all" class="brand-logo"><i class="fab fa-fort-awesome-alt" style="font-size: 155px"></i></a>
    <h3 class="app-name" style="text-align: center;">Medieval Avatars</h3>
    
    <li><a href="/create" class="w3-bar-item w3-button" id="nav-create-btn" style="text-align: center;">Create</a></li>
    <li><a href="/all" class="w3-bar-item w3-button" id="nav-view-all-btn" style="text-align: center;">View All</a></li>
    <li><a href="/all/" class="w3-bar-item w3-button viewOwnAvatars" id="nav-view-btn" style="text-align: center;">View Own</a></li>
</ul>


<div id="portfolio" class="section gray">
  <div class="container">
    <div class="gallery row" id="galleryDiv">
  {{#each avatars}}
      <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{AvatarClasses.socialClass}}" data-class="{{AvatarClasses.socialClass}}">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">
      
            <img class="responsive-img imgDiv" src="{{AvatarClasses.img}}" alt="placeholder">
          </a>
          <div class="gallery-header">
            <span><b>Career:</b> {{AvatarClasses.career}}</span><br>
            <span><b>Name:</b> {{name}}</span>
          </div>
          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>{{AvatarClasses.career}}</h3>
            </div>
            <p class="description">
             <p> <b>Name:</b> {{name}}</p>
             <p> <b>Age:</b> {{age}}</p>
             <p> <b>Backstory:</b> {{backstory}}</p>
             <p> <b>Personality:</b> {{personality}}</p>
             <p> <b>Details:</b> {{details}}</p>
             <p> <b>Career description: </b>{{AvatarClasses.careerDescriptions}}</p>
            </p>
          </div>
          <div class="gallery-action">
            <a class="btn-floating btn-large waves-effect waves-light grey"><i class="material-icons">favorite</i></a>
          </div>
        </div>
      </div>
  {{/each}}

    </div>
  </div>
</div><!-- /.container -->