<nav class="nav-extended">

  <!-- Fixed Masonry Filters -->
  <div class="categories-wrapper black">
    <div class="categories-container">
      <a href="#" data-activates="slide-out" class="button-collapse show-on-large menuIcon"><i
          class="fas fa-bars"></i><span class="pageLocation">{{viewPage}}</span></a>
      <ul class="categories container">
        <li class="active"><a class="waves-effect waves-light" id="all-view" href="#all">All <i
              class="fas fa-chess"></i></a></li>
        <li><a class="waves-effect waves-purple accent-3" id="royal-view" href="#royal">Royal <i
              class="fas fa-chess-king"></i></a></li>
        <li><a class="waves-effect waves-teal" id="authority-view" href="#authority">Authority <i
              class="fas fa-chess-rook"></i></a></li>
        <li><a class="waves-effect waves-red" id="military-view" href="#military">Military <i
              class="fas fa-chess-knight"></i></a></li>
        <li><a class="waves-effect waves-light" id="nobility-view" href="#nobility">Nobility <i
              class="fas fa-chess-queen"></i></a></li>
        <li><a class="waves-effect waves-yellow" id="clergy-view" href="#clergy">Clergy <i
              class="fas fa-chess-bishop"></i></a></li>
        <li><a class="waves-effect waves-orange" id="merchant-view" href="#merchant">Merchant <i
              class="fas fa-chess-rook"></i></a></li>
        <li><a class="waves-effect waves-green" id="peasantry-view" href="#peasantry">Peasantry <i
              class="fas fa-chess-pawn"></i></a></li>
      </ul>
    </div>
  </div>
</nav>

{{!-- ========================= Slidenav ================================================== --}}

<ul id="slide-out" class="side-nav">
  <a href="/all" class="brand-logo"><i class="fab fa-fort-awesome-alt" style="font-size: 155px"></i></a>
  <h3 class="app-name" style="text-align: center;">Medieval Avatars</h3>

  <li><a href="/create" class="w3-bar-item w3-button" id="nav-create-btn" style="text-align: center;">Create</a></li>
        <li><a href="/all/" class="w3-bar-item w3-button viewOwnAvatars" id="nav-view-btn" style="text-align: center;">My Avatars</a></li>
        <li><a href="/all" class="w3-bar-item w3-button" id="nav-view-all-btn" style="text-align: center;">All Avatars</a></li>
</ul>

<div id="portfolio" class="section gray">
  <div class="container viewAllContainer">
    <div class="gallery row" id="galleryDiv">
      {{#each avatars}}
      <div class="col l4 m6 s12 gallery-item gallery-expand gallery-filter {{AvatarClasses.socialClass}}"
        data-class="{{AvatarClasses.socialClass}}">
        <div class="gallery-curve-wrapper">
          <a class="gallery-cover gray">

            <img class="responsive-img imgDiv" src="{{AvatarClasses.img}}" alt="placeholder">
          </a>
          <div class="gallery-header">
            <span><b>Career:</b> {{AvatarClasses.career}}</span><br>
            <span><b>Name:</b> {{name}}</span>
          </div>
          <div class="gallery-body">
            <div class="title-wrapper">
              <h3>{{AvatarClasses.career}}</h3>
            </div>
            <p class="description">
              <p> <b>Name:</b> {{name}}</p>
              <p> <b>Age:</b> {{age}}</p>
              <p> <b>Backstory:</b> {{backstory}}</p>
              <p> <b>Personality:</b> {{personality}}</p>
              <p> <b>Details:</b> {{details}}</p>
              <p> <b>Career description: </b>{{AvatarClasses.careerDescriptions}}</p>
            </p>
          </div>
          <div class="gallery-action">
            {{#if ownAvatars}}
            <a class="btn-floating btn-large waves-effect waves-light grey deleteBtn" data-id="{{id}}"><i
                class="material-icons">delete_forever</i></a>
            {{else}}
            <a class="btn-floating btn-large waves-effect waves-light grey saveBtn" data-id="{{id}}"><i
                class="material-icons">favorite</i></a>
            {{/if}}

          </div>
        </div>
      </div>
      {{/each}}
      <div class="fixed-action-btn">
        <a class="btn-floating btn-large black">
          <i class="fas fa-chess"></i>
        </a>
        <ul>
          <li><a data-target="modal1" class="btn-floating purple modal-trigger"><i
                class="fas fa-chess-king"></i></a>Royalty</li>
          <li><a data-target="modal2" class="btn-floating blue modal-trigger"><i
                class="fas fa-chess-rook"></i></a>Authority</li>
          <li><a data-target="modal3" class="btn-floating red modal-trigger"><i
                class="fas fa-chess-knight"></i></a>Military</li>
          <li><a data-target="modal4" class="btn-floating black modal-trigger"><i
                class="fas fa-chess-queen"></i></a>Noble</li>
          <li><a data-target="modal5" class="btn-floating yellow modal-trigger"><i
                class="fas fa-chess-bishop"></i></a>Clergy</li>
          <li><a data-target="modal6" class="btn-floating brown modal-trigger"><i
                class="fas fa-chess-rook"></i></a>Merchant</li>
          <li><a data-target="modal7" class="btn-floating green modal-trigger"><i
                class="fas fa-chess-pawn"></i></a>Peasantry</li>
        </ul>
      </div>

      <div id="modal1" class="modal">
        <div class="modal-content">
          <h4>Royal Class</h4>
          <p>
            Often relative to specific family names/titles, this class system is viewed as the highest in most
            societies, posing as the final authority within a kingdom that operates as a monarchy (the most common
            system of government in the medieval period). Royalty is declared with a bloodline held with divine,
            spiritual, financial or historical significance, passing the position of supremacy and rule to a member of
            each generation under the same family name. Great conflicts and Wars have formed around this ideal as the
            claim to a throne is the ultimate achievement of wealth, political power and control in the eyes of society.

            On average, Royalty will reside within a large manor, fortress or castle. Here, members of the royal family
            are guarded by only the strongest and most reliable of soldiers, with nearly every need tended to by
            servants, aids, squires and members of the advisory class. Depending on the individual kingdom's policies
            and cultures, access to the Royal Keep (home) is often highly restricted with only few exceptions to members
            of the Advisory, Nobility, High ranked Military and Upper Clergy. These structures will also typically act
            as the central building of government, hosting nearly all political meetings and related events with
            exception to the courts which are conducted near the center of most Cities and Villages, if at all.

            Royal Families often tend to be exceptionally large in number as kings and queens will give birth to several
            children to increase the odds of a prominent heir to the throne upon the King, or Queen's, retirement or
            death. In almost every instance of this, the kingdom's ruler(s) will elect their own replacement, typically
            falling to the 1st born Prince.

            Princes and Princesses who have no assigned positions within government, often spend their days studying and
            learning the ways of the kingdom to act as a possible replacement should their higher born sibling or family
            member, take a turn for the worse. They are typically afforded a great deal of freedom but hold very little
            authority within the walls of their own home. However, outside the Royal keep is a different matter as
            members of the royal family often demand the highest of praise and respect from their subjects, even those
            within the Nobility, Advisory and Clergy must customarily bow when approached. For some kingdoms, this is an
            easy accommodation, one which many subjects of lower class happily follow either through genuine respect and
            love or out of habit and a lack of experience or knowledge to anything different. However, in other
            kingdoms, such an act can be viewed on a level of servitude and unparalleled reluctance. This variation
            often reflects the style of rule within the kingdom or the level of prosperity throughout the land as those
            of the lower classes tend to be affected by such changes on a more noticeable scale.

            It is worth noting that nearly all within a kingdom is, by right, the property of the ruling Royal Family,
            or rather, under their protection and supervision. The lands, the structures and, in some instances, even
            some of the people. When a kingdom is formed, often it is the Castle or primary home that is the first to be
            built, however, many other kingdoms have formed the other way around. Surrounding the Castle (or general
            Royal Home) will often be a village (to start). These can grow into cities and, from there, expand outward
            to any surrounding lands that the Royal Family has either purchased, claimed or conquered. Land and built
            structures can be rented or purchased from the royal family by any citizen who resides within their kingdom,
            usually at the cost of a monthly rent or a yearly taxation. It is not uncommon for a Kingdom's land to be
            primarily owned by its people, however, being within the Royal Family's territory, it is still ultimately
            considered theirs as they have full political power and authority within said territory. The greatest
            advantage to this is protection as the Royal Family is charged with the duty of protecting their lands and
            all that rests within them. Being a very dangerous world, protection can be worth the loss of certain rights
            and privileges.
          </p>
        </div>
      </div>

      <div id="modal2" class="modal">
        <div class="modal-content">
          <h4>Authority Class</h4>
          <p>
            In more common settings, this class is placed just below that of Royalty, or in the event that there is no
            Royalty, it acts as the primary leading government. The authority class is comprised primarily of
            bureaucrats, usually representing different branches of government and social structures, acting as a ranked
            council with anywhere between 4 to 20 seats on average. In the presence of a Royalty Class, this class takes
            the form of an advisory council, the highest rank of which being 1st seat named "The Hand" who is appointed
            by the kingdom's primary ruler or elected. Often below the hand sits the Advisory Bishop and below them sits
            the Advisory Treasurer, followed by the highest ranking military official (typically named the Constable).
            In larger settings, more members will be present representing various districts or regions within the
            kingdom, often comprised of Nobles, other members of the Clergy or Lords/Ladies of the Royal Family.

            More often than not, the top 4 members of the Advisory Council are appointed by the kingdom's ruler with
            exception to the head of the Clergy who are elected from within. Additional seats of representation, as
            mentioned above, are also typically elected by members of their distinct districts or regions with exception
            to Lords/Ladies of the Royal Family. The Authority class is named this often due to their responsibilities
            to enforce the laws/rules of the royal family. This almost always includes taxation and sentencing.
          </p>
        </div>
      </div>

      <div id="modal3" class="modal">
        <div class="modal-content">
          <h4>Military Class</h4>
          <p>
            This class is one that is entirely its own, with no direct placement in terms of social ranking apart from
            being below that of the Royal and Authority Classes. It should be noted that this class is comprised of
            members from nearly every other, often acting as a neutral and equal ground between the classes. The
            military within a Kingdom or Settlement, often acts on many different levels with a large variety of career
            options/positions, each giving a different ranked placement that pertains to a specific set of
            responsibilities and skills.

            On average, a military is responsible for the protection of its assigned territory and all within it. With
            the presence of a Royalty Class, the military acts as their primary defense against foreign invasion of any
            kind among other elements that could bring harm to the people of the land (under the employ of the crown).
            Within a Settlement, or in the absence of a Royalty Class, they typically answer to a council built by an
            authority class of which leading military officials will hold a seat in.

            In many cultures, the military will also act as a policy and law enforcement, conducting assigned patrols
            and maintaining peace and order throughout the territory. This is carried out with a subdivision of the
            military, incorporating a less intense training regimen so as to form a more distinct branch with inherently
            lower levels of aggression and a larger focus on deterring hostilities (often referred to simply as Guards).
          </p>
        </div>
      </div>

      <div id="modal4" class="modal">
        <div class="modal-content">
          <h4>Nobility Class</h4>
          <p>
            This class is comprised of the wealthiest of any social structure. In rare instances, a noble family may
            even hold greater riches than the Royal Family, and thus, the kingdom itself. More often than not, a Noble
            family will possess old money, dating back centuries. These nobles are referred to as Early Families, and
            hold great political power and influence over others of the Nobility Class.

            On the subject of influence, it is not unheard of for the ruler of a Kingdom to hold close ties to one or
            multiple Noble families. Nor is it unheard of for a member of a Noble family (often the head/Lead family
            member) to reside on a king or queen's counsel, occupying a seat of significance. Nobles hold a great deal
            of influence within their community, among many others, often stretching to different regions and,
            occasionally, outside kingdoms. Typically, Early Families will hold the strongest connections, making them
            incredibly valuable to the Throne.

            Members of the Nobility class are raised and groomed to undertake positions of significance from an early
            age, such as managing the family's lands or businesses, joining the Authority Class or venturing out to form
            a business of their own. This is typically the root of a Noble family's success and why many of them date
            back for generations as strong finances provide a good education, and a good education brings about strong
            finances.

            Noble Families place most of their aspiration into one's ability to make money, or rather, one's
            accomplishments to obtaining power, though (to nobles) power and money are often one in the same. Another
            important aspiration for noble families is also reputation, something they strive in nearly every moment to
            maintain and build, as they believe it to be significant in their never ending quest for power.
          </p>
        </div>
      </div>

      <div id="modal5" class="modal">
        <div class="modal-content">
          <h4>Clergy Class</h4>
          <p>
            The Clergy typically operates on two different levels, one of which being independent from any branch of
            government and the other having direct influence with every branch of government. On many occasion, they can
            even be be found holding a prominent seat in the Advisory Class to a Royal Family or leading council of
            government. The Clergy tends to hold a great deal of influence over not just the people of their society but
            members of the Authority, Nobility and even Royal Classes as they are notably a symbol of divinity and
            justice...or at least claim to be.

            Members of the Clergy are often held in high respects as they are known for dedicating their lives and
            values to their religious practices. More often than not, a Clergy will operate, live and worship within a
            Temple or Church, typically located in the center (more accessible) regions of populated areas (such as
            cities or villages).

            In most settings, there exists a primary religion of practice within a kingdom or settlement, representing
            either the majority of the population's beliefs or that of the higher classes (such as Royalty, Nobility and
            Advisory). In some kingdoms and settlements, the worship of other religions will occur which requires
            individual representation and structured branches of the Clergy. In Large settlements or cities, multiple
            temples, churches or places of worship are common, however in smaller settlements where a variety of
            religions are present, a single location is shared (occasionally with a good deal of conflict).
          </p>
        </div>
      </div>

      <div id="modal6" class="modal">
        <div class="modal-content">
          <h4>Merchant Class</h4>
          <p>
            This class, also referred to as the Tradesman class, covers a wide spectrum of everything from Nobility to
            Peasantry. Rightly named Merchant, this class is a strong representation of a kingdom or settlement's
            economic structure. This incorporates most aspects of production, distribution and trade, often closely
            associated with the working Peasantry class, but more specifically linked to artisans (typically those with
            the title of master; example: master blacksmith). On rare occasions, Members of the Merchant class may rise
            to the ranks of Nobility, however even in these instances, they are almost never fully accepted or
            acknowledged by other members of the nobility class. If the medieval period had any form of middle class,
            this would most definitely be it.
          </p>
        </div>
      </div>

      <div id="modal7" class="modal">
        <div class="modal-content">
          <h4>Peasantry Class</h4>
          <p>
            The peasantry class often occupies the majority of any population, sometimes reaching greater numbers than
            all other classes combined. In most settings, the members of this social class are typically less educated,
            holding only what limited knowledge has been passed down throughout their family line. For most families,
            this is centered around a particular talent or series of skills associated with a specific career. An
            example of this would be farmers. In most instances, such a career requires a great deal of experience and
            familiarity with nature to effectively sustain a livable wage. When farmers have children, they pass on this
            knowledge and experience while also expanding their personal work force. Sadly, in most cases within a
            working class such as this, members of the peasantry tend to remain as such, not just out of familiarity to
            the work but also due to the imbalance of income present in most economic settings. In many ways, the
            passing on of knowledge through family lines ultimately ensures employment for future generations of that
            family but also tends to prevent them from seeking a life of their own, for such a task would require a
            degree of financial freedom and equal opportunities. A related example for this would be a Land Holder who
            is seeking to hire Farmers to tend their crops and land. From their perspective, would one rather hire a
            farmer who comes from a family of maids with limited to no knowledge of the job or would one rather hire a
            farmer who comes from a family of farmers who will do the work for the same price. It is not uncommon for
            members of the peasantry class to occupy a career held by their ancestors through several generations.
          </p>
        </div>
      </div>

    </div>
  </div>
</div><!-- /.container -->